Checks: >
  *, 
  -altera-struct-pack-align,
  -llvmlibc-restrict-system-libc-headers,
  -cppcoreguidelines-avoid-non-const-global-variables
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file