Checks: >
  *, 
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -android-cloexec-fopen,
  -hicpp-signed-bitwise,
  -llvmlibc-restrict-system-libc-headers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -misc-no-recursion,
  -altera-id-dependent-backward-branch,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include)/.*'
FormatStyle: file